# Virtual Environment
venv/
.env

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints

# Project Specific
data/processed/
models/saved_models/
results/

# OS Specific
.DS_Store
Thumbs.db
